.swiper {
  width: 88%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 0;
  padding-left: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 320px;
    height: 396px;
  }
}

.swiper-slide img {
  display: hidden;
}

.slider-container {
  margin-bottom: 5px;
}
