@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.embla {
  overflow: hidden;
  position: relative;
}

.embla__container {
  display: flex;
  transition: transform 0.3s ease;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__slide {
  flex: 0 0;
  transition: transform 0.3s ease;
}

.m__embla__slide {
  transition: transform 0.3s ease;
}

.embla__slide--dummy {
  flex: 0 0 20%;
  pointer-events: none;
  visibility: hidden;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.slick-slide img {
  display: none !important;
}

.slick-slide {
  background-color: rgb(255, 255, 255);
}

.slick-arrow {
  display: none !important;
}

.slick-dots li {
  background-color: #a8a8a8;
  height: 6px !important;
  width: 6px !important;
  border-radius: 25px;
  transition: width 0.7s ease-in-out;
}

.slick-dots li.slick-active {
  background-color: #4640de;
  height: 6px !important;
  width: 39px !important;
  border-radius: 25px;
}

.slick-dots li.slick-active button:before {
  color: transparent !important;
}

.slick-dots li button:before {
  color: transparent !important;
}
